<section>
  <div class="greeting-wrapper">
    <h2>Welcome!</h2>
    <p>This is application where you can generate random users and cat facts!</p>
    <div class="button-wrapper">
      <nav class="generator-link">
        <button>
          <a routerLink="/main">Go to user generator page</a>
        </button>
      </nav>
      <nav class="generator-link">
        <button>
          <a routerLink="/star-wars">Go to star wars page</a>
        </button>
      </nav>
    </div>
  </div>
</section>